<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @match.name %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>

<%= simple_form_for @match_player do |f| %>
  <%= f.input :user_id %>
  <%#= f.input :password %>
  <%= f.button :submit %>
<% end %>
